@use "../helpers/" as *;

.person-card {
  --imageSize: #{rem(80)};

  display: flex;
  align-items: center;
  column-gap: rem(10);

  @include mobile {
    column-gap: rem(6);
  }

  @include laptop {
    --imageSize: #{rem(60)};
  }

  &__image {
    width: var(--imageSize);
    border-radius: 50%;
    background-color: var(--color-dark-15);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(6);
  }

  &__department {
    line-height: 1;
  }
}
