@use '../helpers' as *;

.rating-view {
    display: flex;
    column-gap: rem(7);
    padding: rem(10) rem(16);
    border-radius: rem(100);
    border: var(--border);
    background-color: var(--color-dark);

    @include laptop {
        column-gap: rem(4);
        padding: rem(8) rem(12);
    }

    &__star {
        --size: #{rem(24)};
        background: url('/images/icons/star.svg') center/contain no-repeat;

        @include square(var(--size));

        @include laptop {
            --size: #{rem(20)};
        }

        &.is-active {
            background: url('/images/icons/star-active.svg') center/contain no-repeat;
        }
    }
}