@use '../helpers/' as *;

.soc1als {
    color: var(--color-light);

    &__list {
        display: flex;
        column-gap: fluid(20, 14);
    }

    &__item {
        display: flex;
    }

    &__link {
        --size: #{rem(24)};

        @include square(var(--size));

        @include laptop {
            --size: #{rem(20)};
        }
    }
}